*{
    margin: 0px;
    padding: 0px;
}

#carrito{
    height: 45px;
    float: right;
    position: relative;
    right: 65px;
    bottom: 110px;
}

.itemcount{
    float: right;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 80px;
    right: 10px;
}