*{
    margin: 0px;
    padding: 0px;
}

#logo{
    margin: 30px;
    display: inline-block;
    font-size: 33px;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    margin: 0px 22px;
    padding: 10px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: black;
}
